*{
    margin: 0;
    padding: 0;
    

    
}
.main-logo a img{
    width: 40px;
}
.logo::before{
   content: "";
  
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: -1;
   
    
}
.manu ul li a{
    color: white;
    font-weight: 600;

}
.headings{
    width: 100%;
    height: 450px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
}
.headings h1{
    margin-top: 50px;
   font-size: 150px;
   font-weight: 900;
}
.headings::after{
    
    content: "";
    background: rgba(0, 0, 0, 0.7) url(./Images/home.jpg ) no-repeat center center/cover;
    
    background-blend-mode: darken;
    position: absolute;
    width: 100%;
    height: 100%;
    
    z-index: -1;
    
}

/* demo details stats  */
.bg{
   
    background-color:  #151515;
}
.responsive{
    margin-top: 200px;
    padding: 20px 20px;
    color: rgb(200, 212, 209);

    justify-content: center;
    text-align: center;
}
.responsive h1{
    color: rgb(200, 212, 209);
    font-size: 80px;
    font-weight: 700;
}
.responsive h6{
  margin: 15px 0 40px;
}
.rek{
    
    margin: auto;
   margin-top: 100px;
   margin-bottom: 100px;
    padding: 20px 0 20px;
    width: 1px;
    height: 100px;
    
    background-color:rgb(89, 91, 90);
}
.demo-count{
    color: rgb(200, 212, 209);
    text-align: center;
}
.demo-count h5{
   margin: 40px 0 40px;
}
.demo-count h2{
   font-size: 200px;
   font-weight: 700;
}
/* the demos start  */
.tag{
    text-align: center;
}
.tag h1{
    font-size: 80px;
    font-weight: 700;
    color: rgb(200, 212, 209);

}
.tag h6{
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.first-theme{
    margin-top: 20px;
    border: 1px solid rgb(45, 47, 45);
    border-radius: 15px;
    background-color: rgb(21, 19, 19);
}
.thumbnail img{
    padding: 5px 4px ;
    border-radius: 20px;
}
.theme-title{
    color: rgb(200, 212, 209);
    text-align: center;
}
.theme-title h3{
    padding: 10px 0 10px;
    font-size: 20px;
    
}
/* WHY CHOOSE FLEX START */
.why-title{
    margin:100px 0 70px ;
    text-align: center;
}
.why-title h1{
    margin:0;
    font-size: 80px;
    font-weight: 700;
    color: rgb(200, 212, 209);
}
.why-title h6{
    margin: 20px 0 20px;
    padding-bottom: 20px;
}
.sbg{
    background-color: rgb(21, 19, 19);

}
.benifit{
    
    
    
    
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(89, 91, 90);
}
.pernt-benifit{
    width: 50%;
    
}
.benifit p{
    
    color: rgb(178, 181, 183);
}
/* 3 step method start  */
.download{
    color: rgb(200, 212, 209);

}
.download h6{

    margin: 0;
}
.step-count{
    padding: 0;
    font-weight: 700;
    font-size: 150px;
    color: rgb(200, 212, 209);
}
.tep-pera{
    margin-top: 40px;
    color: rgb(200, 212, 209);
}